body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.chocolate-color{
    color: chocolate;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width{
    width: 100%;
}
.link-button{
   text-decoration: none;
   background-image: -moz-linear-gradient(orange,tomato);
   padding: 10px 40px;
   color: white;
   font-weight: 700;
   border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 25px gray;
    border-radius: 10px;
    padding-left: 20px;
  
}
#web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c);
    border-image-slice: 1;
}
footer{
    text-align: center;
}